*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

header .pozadina .main-menu{
    background-color: rgba(0, 0, 0, 0.5);
}
.main-menu{
    text-align: center;
}

.main-menu h4{
    color: #ff4455;
    margin-top: 20px;
}

.main-menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    margin-top: 20px;
}

.main-menu ul li a{
    color: white;
    text-decoration: none;
}

.main-menu ul li .home, .main-menu ul li a:hover{
    transition: .5s;
    color: #ff4455;
    font-weight: bolder;
}

.main-menu ul li button{
    padding: 5px 15px;
    font-weight: bold;
    background-color: #ff4455;
    border: none;
    color: white;
    border-radius: 20px;
}

.main-menu ul li button:hover{
    background-color: white;
    color: #ff4455;
    transition: .5s;
}

.creative-studio{
    margin-top: 75px;
    text-align: center;
    text-transform: capitalize;
}

.creative-studio p{
    color: white;
    font-size: 25px;
}

.main-menu .creative-studio h1{
    color: white;
}

.main-menu .creative-studio .contact{
    border: 1px solid grey;
    background-color: transparent;
}

.main-menu .creative-studio .contact:hover{
    background-color: white;
}

.main-menu .creative-studio{
    padding-bottom: 25px;
}

.main-menu .creative-studio .creative{
    font-size: 75px;
    font-weight: bold;
}

.home-section{
    margin: 75px 35px;
    width: auto;
}

.home-section .col-md-4{
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    padding: 55px 25px;
}

.home-section .container{
    -webkit-box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
    box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
}

.home-section .col-md-4 .naslov{
    font-size: 24px;
}

.about-us{
    margin-top: 125px;
}

.about-us img{
    width: 100%;
    height: auto;
}

.about-us .opis{
    text-align: left;
}

.about-us .opis h4{
    color: grey;
}

.about-us .opis p{
    color: grey;
}

@media only screen and (max-width: 767px){
    .about-us .opis{
        margin-top: 55px;
    }

    .about-us .opis h2,h4 {
        text-align: center;
    }

    .about-us .opis h2{
        margin-bottom: 45px;
    }
    .about-us .opis p{
        text-align: left;
    }
}
.service-section{
    margin-top: 75px;
}

.service-section .col-md-2{
    -webkit-box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    border: 1px solid black;
    margin-left: 65px;
    padding-top: 45px;
    padding-bottom: 15px;
}

.service-section .naslov{
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .service-section .col-md-2{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .service-section p{
        text-align: center;
    }

    .service-section{
        margin-left: 105px;
        width: 50%;
    }
}

@media only screen and (max-width: 560px) {
    .service-section p{
        text-align: center;
    }

    .service-section{
        margin-left: 55px;
        margin-right: 25px;
        width: 50%;
    }
}

@media only screen and (max-width: 433px) {
    .service-section{
        margin-left: 25px;
        margin-right: 55px;
        width: 50%;
    }
}

.service-section-2{
    margin-top: 45px;
}

.service-section-2 .col-md-2{
    -webkit-box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    -moz-box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    box-shadow: 14px 17px 18px -4px rgba(0,0,0,0.57);
    border: 1px solid black;
    margin-left: 65px;
    padding-top: 45px;
    padding-bottom: 15px;
}

.service-section-2 .col-md-2 .naslov{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .service-section-2 .col-md-2{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .service-section-2 p{
        text-align: center;
    }

    .service-section-2{
        margin-left: 105px;
        width: 50%;
    }
}

@media only screen and (max-width: 560px) {
    .service-section-2 p{
        text-align: center;
    }

    .service-section-2{
        margin-left: 55px;
        margin-right: 25px;
        width: 50%;
    }
}

@media only screen and (max-width: 433px) {
    .service-section-2{
        margin-left: 25px;
        margin-right: 55px;
        width: 50%;
    }
}

.team-section{
    margin-top: 75px;
}

.team-section ul li a i{
    color: #ff4455;
}

.team-section .col-md-3{
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    margin-right: 95px;
    margin: 40px;
    width: 25%;
    padding: 25px;
}

.team-section ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    font-size: 20px;
}

.team-section ul li a i:hover{
    transition: .5s;
    font-weight: bolder;
    color: #fc2e3f;
}

.team-section .job{
    text-transform: uppercase;
    color: #ff4455;
    margin-top: 25px;
}

@media only screen and (max-width: 454px){
    .team-section .col-md-3{
        margin: 25px;
        width: 80%;
    }
}

.fun-section .facts-section{
    padding-top: 35px;
    text-align: center;
    margin-bottom: 35px;
}

.fun-section .facts-section h4{
    color: gray;
}

.fun-section .facts-section h2{
    color: white;
}

.fun-section{
    background: black;
}

.fun-section i{
    color: #fc2e3f;
    font-size: 75px;
}

.fun-section .col-md-2{
    margin-right: 95px;
    text-align: center;
}

.fun-section p{
    color: white;
}

.fun-section .number{
    margin-top: 25px;
    font-size: 45px;
}

.fun-section .nagrade{
    margin-top: -15px;
    font-size: 20px;
}

.testimonial-section{
    margin-top: 75px;
}

.testimonial-section h4{
    color: gray;
}

.testimonial-section .naslov{
    text-align: center;
    margin-bottom: 65px;
}

.testimonial-section .col-md-5{
    border: 1px solid rgb(219, 219, 219);
    margin-left: 75px;
    padding-top: 20px;
    padding-left: 55px;
    padding-right: 25px;
    padding-bottom: 5px;
    -webkit-box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
    -moz-box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
    box-shadow: 15px 17px 18px -5px rgba(0,0,0,0.53);
    position: relative;
}

.testimonial-section .col-md-5 .ime{
    font-size: 20px;
    font-weight: 500;
}

.testimonial-section .col-md-5 .slika1{
    border-radius: 50%;
    height: auto;
    width: 20%;
    position: absolute;
    left: -55px;
    top: 30px;
}

@media only screen and (max-width: 991px) {
    .testimonial-section .col-md-5{
        margin-left: 185px;
        margin-bottom: 25px;
        width: 50%;
    }   

}

@media only screen and (max-width: 767px) {
    .testimonial-section .col-md-5 .slika1{
        height: auto;
        width: 25%;
    }
    .testimonial-section .col-md-5{
        margin-left: 145px;
    }
}

.blog-section{
    margin-top: 75px;
    text-align: center;
}

.blog-section h4{
    color: gray;
    font-weight: 400;
}


.blog-section img{
    height: auto;
    width: 100%;
}

.blog-section .col-md-3{
    margin-top: 35px;
    margin-left: 75px;
    border: 1px solid rgb(219, 219, 219);
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 10px;
}

.blog-section .col-md-3 i{
    text-align: center;
    margin-top: 25px;
    color: gray;
    padding-right: 7px;
    font-size: 14px;
}

.blog-section .col-md-3 .opis{
    text-align: left;
}

.blog-section .col-md-3 .comm{
    margin-bottom: 15px;
}

.blog-section .col-md-3 a{
    color: #fc2e3f;
    text-decoration: none;
}

.blog-section .col-md-3 a:hover{
    border-bottom: 1px solid #ff4455; 
    font-weight: 500;
}

.blog-section .col-md-3 .name{
    color: black;
}

.blog-section .col-md-3 p{
    color: gray;
}

@media only screen and (max-width: 767px){
    .blog-section .col-md-3{
        margin: 25px;
        width: 90%;
    }
    .blog-section .col-md-3 .opis{
        text-align: center;
    }

    .blog-section .col-md-3 a{
        font-size: 20px;
    }
}

.contact-section{
    margin-top: 75px;
}

.contact-section .first{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.contact-section .second{
    color: gray;
    margin-top: -17px;
}

.contact-section h4{
    color: gray;
    font-weight: 400;
}

.contact-section .container{
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 38px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 38px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 38px -5px rgba(0,0,0,1);
}

.contact-section .col-md-3 .location{
    border-bottom: 1px solid rgb(219, 219, 219);
}

.contact-section .row{
    padding: 35px;
}

.contact-section .col-md-3 .phone{
    margin-top: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.contact-section .col-md-3 .email{
    margin-top: 15px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.contact-section .col-md-3 .domain{
    margin-top: 15px;
}

.contact-section .col-md-3{
    margin-right: 25px;
}

.contact-section .col-md-8 input{
    margin-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    height: 45px;
}

.contact-section .col-md-8{
    text-align: center;
}

.contact-section .col-md-8 textarea{
    width: 100%;
    padding-left: 15px;
}

.contact-section .col-md-8 textarea:hover{
    border-radius: 25px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    transition: 0.7s;
}

.contact-section .col-md-8 input:hover{
    border-radius: 25px;
    border: 1px solid rgb(219, 219, 219);
    -webkit-box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    -moz-box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    box-shadow: 0px 0px 17px 3px rgba(255,68,85,1);
    transition: 0.7s;
}

.contact-section .col-md-8 button{
    width: 100%;
    background-color: #ff4455;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-section .col-md-8 button:hover{
    color: #ff4455;
    border-radius: 25px;
    margin-top: 10px;
    background: white;
    border: 1px solid #ff4455;
    transition: 0.7s;
}

footer .footer{
    height: auto;
    width: 100%;
    margin-top: 75px;
    background-size: cover;
}

footer .footer{
    background-color: rgba(0, 0, 0, 0.5);
}

.footer .col-md-4{
    margin-top: 25px;
}

.footer .about h4{
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 10px;
    color: white;
}

.footer .about p{
    color: rgb(224, 224, 224);
}

.footer .about .naziv{
    font-size: 20px;
    font-weight: 500;
}

.footer .links h4{
    color: white;
    font-weight: 500;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 10px;
}

.footer .links ul{
    display: inline-block;
    list-style: none;
    margin-right: 55px;
}

.footer .links ul li a{
    color: rgb(224, 224, 224);
    text-decoration: none;
}

.footer .links ul li{
    padding-bottom: 10px;
}

.footer .links ul li a:hover{
    font-weight: 600;
    transition: 0.3s;
}

.footer .contact h4{
    color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 10px;
}

.footer .contact p ,i{
    color: rgb(224, 224, 224);
}

.footer .contact i{
    margin-right: 30px;
    font-size: 20px;
}

.footer .contact i:hover{
    color: white;
    font-weight: bold;
    transition: 0.5s;
}